[submodule "react/react-hot-boilerplate"]
	path = react/react-hot-boilerplate
	url = https://github.com/gaearon/react-hot-boilerplate.git
[submodule "react/react-tutorial"]
	path = react/react-tutorial
	url = https://github.com/reactjs/react-tutorial.git
[submodule "isomorphic-react-redux/isomorphic-redux-app"]
	path = isomorphic-react-redux/isomorphic-redux-app
	url = https://github.com/caljrimmer/isomorphic-redux-app.git
[submodule "isomorphic-react-redux/redux-tutorial"]
	path = isomorphic-react-redux/redux-tutorial
	url = https://github.com/happypoulp/redux-tutorial.git
[submodule "isomorphic-react-redux/simplest-redux-example"]
	path = isomorphic-react-redux/simplest-redux-example
	url = https://github.com/jackielii/simplest-redux-example.git
[submodule "react/react-router-tutorial"]
	path = react/react-router-tutorial
	url = https://github.com/reactjs/react-router-tutorial
[submodule "isomorphic-react-redux/koa-react-full-example"]
	path = isomorphic-react-redux/koa-react-full-example
	url = https://github.com/dozoisch/koa-react-full-example
[submodule "react/react-router"]
	path = react/react-router
	url = https://github.com/ReactTraining/react-router.git
[submodule "combination/electron-react-boilerplate"]
	path = combination/electron-react-boilerplate
	url = https://github.com/chentsulin/electron-react-boilerplate
[submodule "visual/recharts"]
	path = visual/recharts
	url = https://github.com/recharts/recharts.git
[submodule "react/react-demos"]
	path = react/react-demos
	url = https://github.com/ruanyf/react-demos
[submodule "react/reactMonkey"]
	path = react/reactMonkey
	url = https://github.com/ziaochina/reactMonkey.git
[submodule "react/react-simple-pwa"]
	path = react/react-simple-pwa
	url = https://github.com/BosNaufal/react-simple-pwa.git
[submodule "isomorphic-react-redux/message-board"]
	path = isomorphic-react-redux/message-board
	url = https://github.com/defshine/message-board.git
[submodule "react-native/navigation"]
	path = react-native/navigation
	url = https://github.com/mozillo/navigation.git
[submodule "combination/react-native-meteor-boilerplate"]
	path = combination/react-native-meteor-boilerplate
	url = https://github.com/spencercarli/react-native-meteor-boilerplate.git
[submodule "isomorphic-react-redux/react-redux-universal-hot-example"]
	path = isomorphic-react-redux/react-redux-universal-hot-example
	url = https://github.com/erikras/react-redux-universal-hot-example.git
[submodule "isomorphic-react-redux/redux"]
	path = isomorphic-react-redux/redux
	url = https://github.com/reactjs/redux.git
[submodule "isomorphic-react-redux/react-redux"]
	path = isomorphic-react-redux/react-redux
	url = https://github.com/reactjs/react-redux.git
[submodule "react-native/example-react-native-redux"]
	path = react-native/example-react-native-redux
	url = https://github.com/alinz/example-react-native-redux
[submodule "react-native/native-starter-kit"]
	path = react-native/native-starter-kit
	url = https://github.com/start-react/native-starter-kit.git
[submodule "react-native/react-native-one"]
	path = react-native/react-native-one
	url = https://github.com/wutongke/react-native-one.git
[submodule "isomorphic-react-redux/Webpack2-React-Redux-Boilerplate"]
	path = isomorphic-react-redux/Webpack2-React-Redux-Boilerplate
	url = https://github.com/wxyyxc1992/Webpack2-React-Redux-Boilerplate.git
[submodule "react-native/react-native-firebase-starter"]
	path = react-native/react-native-firebase-starter
	url = https://github.com/jsappme/react-native-firebase-starter.git
[submodule "react-native/react-native-hot-redux-starter"]
	path = react-native/react-native-hot-redux-starter
	url = https://github.com/adampash/react-native-hot-redux-starter
[submodule "isomorphic-react-redux/react-server"]
	path = isomorphic-react-redux/react-server
	url = https://github.com/huqingliang/react-server.git
[submodule "isomorphic-react-redux/react-isomorph-demo"]
	path = isomorphic-react-redux/react-isomorph-demo
	url = https://github.com/larry011/react-isomorph-demo.git
[submodule "react-native/react-native-redux"]
	path = react-native/react-native-redux
	url = https://github.com/sibelius/react-native-redux.git
[submodule "isomorphic-react-redux/redux-saga"]
	path = isomorphic-react-redux/redux-saga
	url = https://github.com/redux-saga/redux-saga.git
[submodule "isomorphic-react-redux/redux-saga-beginner-tutorial"]
	path = isomorphic-react-redux/redux-saga-beginner-tutorial
	url = https://github.com/redux-saga/redux-saga-beginner-tutorial
[submodule "react-native/reading"]
	path = react-native/reading
	url = https://github.com/attentiveness/reading.git
[submodule "react-native/snowflake"]
	path = react-native/snowflake
	url = https://github.com/bartonhammond/snowflake.git
[submodule "mern-starter"]
	path = mern-starter
	url = https://github.com/Hashnode/mern-starter.git
[submodule "isomorphic-react-redux/webpack-react-redux-es6-boilerplate"]
	path = isomorphic-react-redux/webpack-react-redux-es6-boilerplate
	url = https://github.com/xiaoyann/webpack-react-redux-es6-boilerplate
[submodule "react/css-modules-demos"]
	path = react/css-modules-demos
	url = https://github.com/ruanyf/css-modules-demos.git
[submodule "react/webpack-demo"]
	path = react/webpack-demo
	url = https://github.com/css-modules/webpack-demo
[submodule "isomorphic-react-redux/React-News-Board"]
	path = isomorphic-react-redux/React-News-Board
	url = https://github.com/ethan-funny/React-News-Board.git
[submodule "react-native/noder-react-native"]
	path = react-native/noder-react-native
	url = https://github.com/soliury/noder-react-native.git
[submodule "react/minimal-example-for-babel-plugin-webpack-loaders"]
	path = react/minimal-example-for-babel-plugin-webpack-loaders
	url = https://github.com/istarkov/minimal-example-for-babel-plugin-webpack-loaders.git
[submodule "react-native/react-native-template-demo"]
	path = react-native/react-native-template-demo
	url = https://github.com/mkonicek/react-native-template-demo.git
[submodule "react-native/pepperoni-app-kit"]
	path = react-native/pepperoni-app-kit
	url = https://github.com/futurice/pepperoni-app-kit.git
[submodule "jsA/Snap.svg"]
	path = jsA/Snap.svg
	url = https://github.com/adobe-webplatform/Snap.svg
[submodule "jsA/html5-boilerplate"]
	path = jsA/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "isomorphic-react-redux/js-stack-from-scratch"]
	path = isomorphic-react-redux/js-stack-from-scratch
	url = https://github.com/verekia/js-stack-from-scratch.git
[submodule "jsA/fastclick"]
	path = jsA/fastclick
	url = https://github.com/ftlabs/fastclick.git
[submodule "isomorphic-react-redux/react-slingshot"]
	path = isomorphic-react-redux/react-slingshot
	url = https://github.com/coryhouse/react-slingshot.git
[submodule "jsA/jquery-ui"]
	path = jsA/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "isomorphic-react-redux/react-starter-kit"]
	path = isomorphic-react-redux/react-starter-kit
	url = https://github.com/kriasoft/react-starter-kit.git
[submodule "jsA/Velocityjs/velocityjs-demo"]
	path = jsA/Velocityjs/velocityjs-demo
	url = https://github.com/cmoody/velocityjs-demo.git
[submodule "jsA/Examples/SegmentEffect"]
	path = jsA/Examples/SegmentEffect
	url = https://github.com/codrops/SegmentEffect.git
[submodule "jsA/SVGa/FancyLetterAnimation"]
	path = jsA/SVGa/FancyLetterAnimation
	url = https://github.com/codrops/FancyLetterAnimation.git
[submodule "freeCodeCamp/freecodecamp.cn"]
	path = freeCodeCamp/freecodecamp.cn
	url = https://github.com/freecodecampchina/freecodecamp.cn
[submodule "react/react-hn"]
	path = react/react-hn
	url = https://github.com/insin/react-hn.git
[submodule "jsA/web-starter-kit"]
	path = jsA/web-starter-kit
	url = https://github.com/google/web-starter-kit
[submodule "udacity/project 2/Course17-23/frontend-nanodegree-mobile-portfolio"]
	path = udacity/project 2/Course17-23/frontend-nanodegree-mobile-portfolio
	url = https://github.com/udacity/frontend-nanodegree-mobile-portfolio
[submodule "udacity/Project 2/Course19-7/devsummit"]
	path = udacity/Project 2/Course19-7/devsummit
	url = https://github.com/udacity/devsummit
[submodule "udacity/project 2/Course20-5/weight-tracker"]
	path = udacity/project 2/Course20-5/weight-tracker
	url = https://github.com/paullewis/weight-tracker
[submodule "udacity/Project 2/7-7/web-workers-demo"]
	path = udacity/Project 2/7-7/web-workers-demo
	url = https://github.com/udacity/web-workers-demo
[submodule "udacity/Project 2/7-9/qrcode"]
	path = udacity/Project 2/7-9/qrcode
	url = https://github.com/udacity/qrcode
[submodule "udacity/Project 2/8-10/pizza-perf"]
	path = udacity/Project 2/8-10/pizza-perf
	url = https://github.com/udacity/pizza-perf
[submodule "freeCodeCamp/clementinejs"]
	path = freeCodeCamp/clementinejs
	url = https://github.com/johnstonbl01/clementinejs
[submodule "freeCodeCamp/clementinejs-angular"]
	path = freeCodeCamp/clementinejs-angular
	url = https://github.com/johnstonbl01/clementinejs-angular
[submodule "freeCodeCamp/clementinejs-fcc"]
	path = freeCodeCamp/clementinejs-fcc
	url = https://github.com/johnstonbl01/clementinejs-fcc
[submodule "udacity/frontend-nanodegree-resume"]
	path = udacity/frontend-nanodegree-resume
	url = https://github.com/udacity/frontend-nanodegree-resume
[submodule "udacity/frontend-nanodegree-feedreader"]
	path = udacity/frontend-nanodegree-feedreader
	url = https://github.com/udacity/frontend-nanodegree-feedreader
[submodule "udacity/news-aggregator"]
	path = udacity/news-aggregator
	url = https://github.com/udacity/news-aggregator
[submodule "udacity/cn-frontend-development-basic"]
	path = udacity/cn-frontend-development-basic
	url = https://github.com/udacity/cn-frontend-development-basic
[submodule "udacity/frontend-nanodegree-arcade-game"]
	path = udacity/frontend-nanodegree-arcade-game
	url = https://github.com/udacity/frontend-nanodegree-arcade-game
[submodule "udacity/AIND-CV-Mimic"]
	path = udacity/AIND-CV-Mimic
	url = https://github.com/udacity/AIND-CV-Mimic
[submodule "udacity/pappu-pakia"]
	path = udacity/pappu-pakia
	url = https://github.com/udacity/pappu-pakia
[submodule "udacity/FEF-Quiz-Angular-Up-and-Running"]
	path = udacity/FEF-Quiz-Angular-Up-and-Running
	url = https://github.com/udacity/FEF-Quiz-Angular-Up-and-Running
[submodule "udacity/ud892"]
	path = udacity/ud892
	url = https://github.com/udacity/ud892
[submodule "udacity/60fps"]
	path = udacity/60fps
	url = https://github.com/udacity/60fps
[submodule "udacity/Project 3/3-21/ud989-pizzamvo"]
	path = udacity/Project 3/3-21/ud989-pizzamvo
	url = https://github.com/udacity/ud989-pizzamvo
[submodule "udacity/Project 3/3-24/ud989-retain"]
	path = udacity/Project 3/3-24/ud989-retain
	url = https://github.com/udacity/ud989-retain
[submodule "udacity/Project 3/4-5/ud989-cat-clicker-andy"]
	path = udacity/Project 3/4-5/ud989-cat-clicker-andy
	url = https://github.com/udacity/ud989-cat-clicker-andy
[submodule "udacity/Project 3/4-10/ud989-cat-clicker-premium-vanilla"]
	path = udacity/Project 3/4-10/ud989-cat-clicker-premium-vanilla
	url = https://github.com/udacity/ud989-cat-clicker-premium-vanilla
[submodule "udacity/Project 3/4-18/ud989-school-attendance"]
	path = udacity/Project 3/4-18/ud989-school-attendance
	url = https://github.com/udacity/ud989-school-attendance
[submodule "udacity/Project 3/4-18 refactor the school attendance/ud989-school-attendance"]
	path = udacity/Project 3/4-18 refactor the school attendance/ud989-school-attendance
	url = https://github.com/udacity/ud989-school-attendance
[submodule "jsA/web-animations-demos"]
	path = jsA/web-animations-demos
	url = https://github.com/web-animations/web-animations-demos.git
[submodule "udacity/project 3/5-16kocatclicker/ud989-cat-clicker-ko-starter"]
	path = udacity/project 3/5-16kocatclicker/ud989-cat-clicker-ko-starter
	url = https://github.com/udacity/ud989-cat-clicker-ko-starter
[submodule "udacity/Project 3/5-23computedObservablesCatFullName/Cat-Clicker-Knockout"]
	path = udacity/Project 3/5-23computedObservablesCatFullName/Cat-Clicker-Knockout
	url = https://github.com/suprinakaur/Cat-Clicker-Knockout
[submodule "udacity/Project 3/6-2todomvc/ud989-todo-app"]
	path = udacity/Project 3/6-2todomvc/ud989-todo-app
	url = https://github.com/udacity/ud989-todo-app
[submodule "udacity/Project 3/7-4googleMapsJavascriptAPI/ud864"]
	path = udacity/Project 3/7-4googleMapsJavascriptAPI/ud864
	url = https://github.com/udacity/ud864
[submodule "udacity/Project 3/8-1ssrGoogleMapsApi/google-maps-services-js"]
	path = udacity/Project 3/8-1ssrGoogleMapsApi/google-maps-services-js
	url = https://github.com/googlemaps/google-maps-services-js
[submodule "react/react-subjects"]
	path = react/react-subjects
	url = https://github.com/ReactTraining/react-subjects
[submodule "udacity/cn-frontend-development-advanced"]
	path = udacity/cn-frontend-development-advanced
	url = https://github.com/udacity/cn-frontend-development-advanced
[submodule "udacity/fend-office-hours"]
	path = udacity/fend-office-hours
	url = https://github.com/udacity/fend-office-hours
[submodule "udacity/ud549"]
	path = udacity/ud549
	url = https://github.com/udacity/ud549
[submodule "udacity/healthTracker/backbone"]
	path = udacity/healthTracker/backbone
	url = https://github.com/jashkenas/backbone
[submodule "udacity/more-function-be-added-to-arcade-game/frontend-nanodegree-arcade-game"]
	path = udacity/more-function-be-added-to-arcade-game/frontend-nanodegree-arcade-game
	url = https://github.com/JayBtrdgrd/frontend-nanodegree-arcade-game
