[submodule "react/react-hot-boilerplate"]
	path = react/react-hot-boilerplate
	url = https://github.com/gaearon/react-hot-boilerplate.git
[submodule "react/react-tutorial"]
	path = react/react-tutorial
	url = https://github.com/reactjs/react-tutorial.git
[submodule "isomorphic-react-redux/isomorphic-redux-app"]
	path = isomorphic-react-redux/isomorphic-redux-app
	url = https://github.com/caljrimmer/isomorphic-redux-app.git
[submodule "isomorphic-react-redux/redux-tutorial"]
	path = isomorphic-react-redux/redux-tutorial
	url = https://github.com/happypoulp/redux-tutorial.git
[submodule "isomorphic-react-redux/simplest-redux-example"]
	path = isomorphic-react-redux/simplest-redux-example
	url = https://github.com/jackielii/simplest-redux-example.git
[submodule "react/react-router-tutorial"]
	path = react/react-router-tutorial
	url = https://github.com/reactjs/react-router-tutorial
[submodule "isomorphic-react-redux/koa-react-full-example"]
	path = isomorphic-react-redux/koa-react-full-example
	url = https://github.com/dozoisch/koa-react-full-example
[submodule "react/react-router"]
	path = react/react-router
	url = https://github.com/ReactTraining/react-router.git
[submodule "combination/electron-react-boilerplate"]
	path = combination/electron-react-boilerplate
	url = https://github.com/chentsulin/electron-react-boilerplate
[submodule "visual/recharts"]
	path = visual/recharts
	url = https://github.com/recharts/recharts.git
[submodule "react/react-demos"]
	path = react/react-demos
	url = https://github.com/ruanyf/react-demos
[submodule "react/reactMonkey"]
	path = react/reactMonkey
	url = https://github.com/ziaochina/reactMonkey.git
[submodule "react/react-simple-pwa"]
	path = react/react-simple-pwa
	url = https://github.com/BosNaufal/react-simple-pwa.git
[submodule "isomorphic-react-redux/message-board"]
	path = isomorphic-react-redux/message-board
	url = https://github.com/defshine/message-board.git
[submodule "react-native/navigation"]
	path = react-native/navigation
	url = https://github.com/mozillo/navigation.git
[submodule "combination/react-native-meteor-boilerplate"]
	path = combination/react-native-meteor-boilerplate
	url = https://github.com/spencercarli/react-native-meteor-boilerplate.git
[submodule "isomorphic-react-redux/react-redux-universal-hot-example"]
	path = isomorphic-react-redux/react-redux-universal-hot-example
	url = https://github.com/erikras/react-redux-universal-hot-example.git
[submodule "isomorphic-react-redux/redux"]
	path = isomorphic-react-redux/redux
	url = https://github.com/reactjs/redux.git
[submodule "isomorphic-react-redux/react-redux"]
	path = isomorphic-react-redux/react-redux
	url = https://github.com/reactjs/react-redux.git
[submodule "react-native/example-react-native-redux"]
	path = react-native/example-react-native-redux
	url = https://github.com/alinz/example-react-native-redux
[submodule "react-native/native-starter-kit"]
	path = react-native/native-starter-kit
	url = https://github.com/start-react/native-starter-kit.git
[submodule "react-native/react-native-one"]
	path = react-native/react-native-one
	url = https://github.com/wutongke/react-native-one.git
[submodule "isomorphic-react-redux/Webpack2-React-Redux-Boilerplate"]
	path = isomorphic-react-redux/Webpack2-React-Redux-Boilerplate
	url = https://github.com/wxyyxc1992/Webpack2-React-Redux-Boilerplate.git
[submodule "react-native/react-native-firebase-starter"]
	path = react-native/react-native-firebase-starter
	url = https://github.com/jsappme/react-native-firebase-starter.git
[submodule "react-native/react-native-hot-redux-starter"]
	path = react-native/react-native-hot-redux-starter
	url = https://github.com/adampash/react-native-hot-redux-starter
[submodule "isomorphic-react-redux/react-server"]
	path = isomorphic-react-redux/react-server
	url = https://github.com/huqingliang/react-server.git
[submodule "isomorphic-react-redux/react-isomorph-demo"]
	path = isomorphic-react-redux/react-isomorph-demo
	url = https://github.com/larry011/react-isomorph-demo.git
[submodule "react-native/react-native-redux"]
	path = react-native/react-native-redux
	url = https://github.com/sibelius/react-native-redux.git
[submodule "isomorphic-react-redux/redux-saga"]
	path = isomorphic-react-redux/redux-saga
	url = https://github.com/redux-saga/redux-saga.git
[submodule "isomorphic-react-redux/redux-saga-beginner-tutorial"]
	path = isomorphic-react-redux/redux-saga-beginner-tutorial
	url = https://github.com/redux-saga/redux-saga-beginner-tutorial
[submodule "react-native/reading"]
	path = react-native/reading
	url = https://github.com/attentiveness/reading.git
[submodule "react-native/snowflake"]
	path = react-native/snowflake
	url = https://github.com/bartonhammond/snowflake.git
[submodule "mern-starter"]
	path = mern-starter
	url = https://github.com/Hashnode/mern-starter.git
[submodule "isomorphic-react-redux/webpack-react-redux-es6-boilerplate"]
	path = isomorphic-react-redux/webpack-react-redux-es6-boilerplate
	url = https://github.com/xiaoyann/webpack-react-redux-es6-boilerplate
[submodule "react/css-modules-demos"]
	path = react/css-modules-demos
	url = https://github.com/ruanyf/css-modules-demos.git
[submodule "react/webpack-demo"]
	path = react/webpack-demo
	url = https://github.com/css-modules/webpack-demo
[submodule "isomorphic-react-redux/React-News-Board"]
	path = isomorphic-react-redux/React-News-Board
	url = https://github.com/ethan-funny/React-News-Board.git
[submodule "react-native/noder-react-native"]
	path = react-native/noder-react-native
	url = https://github.com/soliury/noder-react-native.git
[submodule "react/minimal-example-for-babel-plugin-webpack-loaders"]
	path = react/minimal-example-for-babel-plugin-webpack-loaders
	url = https://github.com/istarkov/minimal-example-for-babel-plugin-webpack-loaders.git
[submodule "react-native/react-native-template-demo"]
	path = react-native/react-native-template-demo
	url = https://github.com/mkonicek/react-native-template-demo.git
[submodule "react-native/pepperoni-app-kit"]
	path = react-native/pepperoni-app-kit
	url = https://github.com/futurice/pepperoni-app-kit.git
[submodule "jsA/Snap.svg"]
	path = jsA/Snap.svg
	url = https://github.com/adobe-webplatform/Snap.svg
[submodule "jsA/html5-boilerplate"]
	path = jsA/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "isomorphic-react-redux/js-stack-from-scratch"]
	path = isomorphic-react-redux/js-stack-from-scratch
	url = https://github.com/verekia/js-stack-from-scratch.git
[submodule "jsA/fastclick"]
	path = jsA/fastclick
	url = https://github.com/ftlabs/fastclick.git
[submodule "isomorphic-react-redux/react-slingshot"]
	path = isomorphic-react-redux/react-slingshot
	url = https://github.com/coryhouse/react-slingshot.git
[submodule "jsA/jquery-ui"]
	path = jsA/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "isomorphic-react-redux/react-starter-kit"]
	path = isomorphic-react-redux/react-starter-kit
	url = https://github.com/kriasoft/react-starter-kit.git
[submodule "jsA/Velocityjs/velocityjs-demo"]
	path = jsA/Velocityjs/velocityjs-demo
	url = https://github.com/cmoody/velocityjs-demo.git
[submodule "jsA/Examples/SegmentEffect"]
	path = jsA/Examples/SegmentEffect
	url = https://github.com/codrops/SegmentEffect.git
[submodule "jsA/SVGa/FancyLetterAnimation"]
	path = jsA/SVGa/FancyLetterAnimation
	url = https://github.com/codrops/FancyLetterAnimation.git
[submodule "freeCodeCamp/freecodecamp.cn"]
	path = freeCodeCamp/freecodecamp.cn
	url = https://github.com/freecodecampchina/freecodecamp.cn
[submodule "react/react-hn"]
	path = react/react-hn
	url = https://github.com/insin/react-hn.git
[submodule "jsA/web-starter-kit"]
	path = jsA/web-starter-kit
	url = https://github.com/google/web-starter-kit
