[submodule "react/react-hot-boilerplate"]
	path = react/react-hot-boilerplate
	url = https://github.com/gaearon/react-hot-boilerplate.git
[submodule "react/react-tutorial"]
	path = react/react-tutorial
	url = https://github.com/reactjs/react-tutorial.git
[submodule "isomorphic-react-redux/isomorphic-redux-app"]
	path = isomorphic-react-redux/isomorphic-redux-app
	url = https://github.com/caljrimmer/isomorphic-redux-app.git
[submodule "isomorphic-react-redux/redux-tutorial"]
	path = isomorphic-react-redux/redux-tutorial
	url = https://github.com/happypoulp/redux-tutorial.git
[submodule "isomorphic-react-redux/simplest-redux-example"]
	path = isomorphic-react-redux/simplest-redux-example
	url = https://github.com/jackielii/simplest-redux-example.git
[submodule "react/react-router-tutorial"]
	path = react/react-router-tutorial
	url = https://github.com/reactjs/react-router-tutorial
[submodule "isomorphic-react-redux/koa-react-full-example"]
	path = isomorphic-react-redux/koa-react-full-example
	url = https://github.com/dozoisch/koa-react-full-example
[submodule "react/react-router"]
	path = react/react-router
	url = https://github.com/ReactTraining/react-router.git
[submodule "combination/electron-react-boilerplate"]
	path = combination/electron-react-boilerplate
	url = https://github.com/chentsulin/electron-react-boilerplate
[submodule "visual/recharts"]
	path = visual/recharts
	url = https://github.com/recharts/recharts.git
[submodule "react/react-demos"]
	path = react/react-demos
	url = https://github.com/ruanyf/react-demos
[submodule "react-native/navigation"]
	path = react-native/navigation
	url = https://github.com/mozillo/navigation.git
[submodule "combination/react-native-meteor-boilerplate"]
	path = combination/react-native-meteor-boilerplate
	url = https://github.com/spencercarli/react-native-meteor-boilerplate.git
[submodule "isomorphic-react-redux/react-redux-universal-hot-example"]
	path = isomorphic-react-redux/react-redux-universal-hot-example
	url = https://github.com/erikras/react-redux-universal-hot-example.git
[submodule "isomorphic-react-redux/redux"]
	path = isomorphic-react-redux/redux
	url = https://github.com/reactjs/redux.git
[submodule "isomorphic-react-redux/react-redux"]
	path = isomorphic-react-redux/react-redux
	url = https://github.com/reactjs/react-redux.git
[submodule "react-native/example-react-native-redux"]
	path = react-native/example-react-native-redux
	url = https://github.com/alinz/example-react-native-redux
[submodule "react-native/native-starter-kit"]
	path = react-native/native-starter-kit
	url = https://github.com/start-react/native-starter-kit.git
[submodule "react-native/react-native-one"]
	path = react-native/react-native-one
	url = https://github.com/wutongke/react-native-one.git
[submodule "isomorphic-react-redux/Webpack2-React-Redux-Boilerplate"]
	path = isomorphic-react-redux/Webpack2-React-Redux-Boilerplate
	url = https://github.com/wxyyxc1992/Webpack2-React-Redux-Boilerplate.git
[submodule "firebase/react-native-firebase-starter"]
	path = firebase/react-native-firebase-starter
	url = https://github.com/jsappme/react-native-firebase-starter.git
[submodule "react-native/react-native-hot-redux-starter"]
	path = react-native/react-native-hot-redux-starter
	url = https://github.com/adampash/react-native-hot-redux-starter
[submodule "isomorphic-react-redux/react-server"]
	path = isomorphic-react-redux/react-server
	url = https://github.com/huqingliang/react-server.git
[submodule "isomorphic-react-redux/react-isomorph-demo"]
	path = isomorphic-react-redux/react-isomorph-demo
	url = https://github.com/larry011/react-isomorph-demo.git
[submodule "react-native/react-native-redux"]
	path = react-native/react-native-redux
	url = https://github.com/sibelius/react-native-redux.git
[submodule "isomorphic-react-redux/redux-saga"]
	path = isomorphic-react-redux/redux-saga
	url = https://github.com/redux-saga/redux-saga.git
[submodule "isomorphic-react-redux/redux-saga-beginner-tutorial"]
	path = isomorphic-react-redux/redux-saga-beginner-tutorial
	url = https://github.com/redux-saga/redux-saga-beginner-tutorial
[submodule "react-native/reading"]
	path = react-native/reading
	url = https://github.com/attentiveness/reading.git
[submodule "react-native/snowflake"]
	path = react-native/snowflake
	url = https://github.com/bartonhammond/snowflake.git
[submodule "mern-starter"]
	path = mern-starter
	url = https://github.com/Hashnode/mern-starter.git
[submodule "isomorphic-react-redux/webpack-react-redux-es6-boilerplate"]
	path = isomorphic-react-redux/webpack-react-redux-es6-boilerplate
	url = https://github.com/xiaoyann/webpack-react-redux-es6-boilerplate
[submodule "isomorphic-react-redux/React-News-Board"]
	path = isomorphic-react-redux/React-News-Board
	url = https://github.com/ethan-funny/React-News-Board.git
[submodule "react-native/noder-react-native"]
	path = react-native/noder-react-native
	url = https://github.com/soliury/noder-react-native.git
[submodule "react/minimal-example-for-babel-plugin-webpack-loaders"]
	path = react/minimal-example-for-babel-plugin-webpack-loaders
	url = https://github.com/istarkov/minimal-example-for-babel-plugin-webpack-loaders.git
[submodule "react-native/react-native-template-demo"]
	path = react-native/react-native-template-demo
	url = https://github.com/mkonicek/react-native-template-demo.git
[submodule "react-native/pepperoni-app-kit"]
	path = react-native/pepperoni-app-kit
	url = https://github.com/futurice/pepperoni-app-kit.git
[submodule "jsA/Snap.svg"]
	path = jsA/Snap.svg
	url = https://github.com/adobe-webplatform/Snap.svg
[submodule "isomorphic-react-redux/js-stack-from-scratch"]
	path = isomorphic-react-redux/js-stack-from-scratch
	url = https://github.com/verekia/js-stack-from-scratch.git
[submodule "jsA/fastclick"]
	path = jsA/fastclick
	url = https://github.com/ftlabs/fastclick.git
[submodule "isomorphic-react-redux/react-slingshot"]
	path = isomorphic-react-redux/react-slingshot
	url = https://github.com/coryhouse/react-slingshot.git
[submodule "jsA/jquery-ui"]
	path = jsA/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "isomorphic-react-redux/react-starter-kit"]
	path = isomorphic-react-redux/react-starter-kit
	url = https://github.com/kriasoft/react-starter-kit.git
[submodule "jsA/Velocityjs/velocityjs-demo"]
	path = jsA/Velocityjs/velocityjs-demo
	url = https://github.com/cmoody/velocityjs-demo.git
[submodule "jsA/Examples/SegmentEffect"]
	path = jsA/Examples/SegmentEffect
	url = https://github.com/codrops/SegmentEffect.git
[submodule "jsA/SVGa/FancyLetterAnimation"]
	path = jsA/SVGa/FancyLetterAnimation
	url = https://github.com/codrops/FancyLetterAnimation.git
[submodule "freeCodeCamp/freecodecamp.cn"]
	path = freeCodeCamp/freecodecamp.cn
	url = https://github.com/freecodecampchina/freecodecamp.cn
[submodule "react/react-hn"]
	path = react/react-hn
	url = https://github.com/insin/react-hn.git
[submodule "jsA/web-starter-kit"]
	path = jsA/web-starter-kit
	url = https://github.com/google/web-starter-kit
[submodule "freeCodeCamp/clementinejs"]
	path = freeCodeCamp/clementinejs
	url = https://github.com/johnstonbl01/clementinejs
[submodule "freeCodeCamp/clementinejs-angular"]
	path = freeCodeCamp/clementinejs-angular
	url = https://github.com/johnstonbl01/clementinejs-angular
[submodule "freeCodeCamp/clementinejs-fcc"]
	path = freeCodeCamp/clementinejs-fcc
	url = https://github.com/johnstonbl01/clementinejs-fcc
[submodule "udacity/AIND-CV-Mimic"]
	path = udacity/AIND-CV-Mimic
	url = https://github.com/udacity/AIND-CV-Mimic
[submodule "udacity/FEF-Quiz-Angular-Up-and-Running"]
	path = udacity/FEF-Quiz-Angular-Up-and-Running
	url = https://github.com/udacity/FEF-Quiz-Angular-Up-and-Running
[submodule "jsA/web-animations-demos"]
	path = jsA/web-animations-demos
	url = https://github.com/web-animations/web-animations-demos.git
[submodule "udacity/react-nano/Project1/1-2/composition-tutorial"]
	path = udacity/react-nano/Project1/1-2/composition-tutorial
	url = https://github.com/kevinbgreene/composition-tutorial
[submodule "udacity/react-nano/course-git-blog-project"]
	path = udacity/react-nano/course-git-blog-project
	url = https://github.com/udacity/course-git-blog-project
[submodule "udacity/react-nano/Project2/reactnd-udacimeals-complete"]
	path = udacity/react-nano/Project2/reactnd-udacimeals-complete
	url = https://github.com/udacity/reactnd-udacimeals-complete
[submodule "jsA/photo-gallery-RN"]
	path = jsA/photo-gallery-RN
	url = https://github.com/narendrashetty/photo-gallery-RN
[submodule "react/react-data-fetching"]
	path = react/react-data-fetching
	url = https://github.com/rwieruch/react-data-fetching
[submodule "react-native/ChainReactApp"]
	path = react-native/ChainReactApp
	url = https://github.com/infinitered/ChainReactApp.git
[submodule "jsDB/clean-code-javascript"]
	path = jsDB/clean-code-javascript
	url = https://github.com/ryanmcdermott/clean-code-javascript.git
[submodule "udacity/react-nano/Project3/reactnd-UdaciFitness-complete"]
	path = udacity/react-nano/Project3/reactnd-UdaciFitness-complete
	url = https://github.com/udacity/reactnd-UdaciFitness-complete
[submodule "udacity/react-nano/Project1/MyReads-A-Book-Tracking-App"]
	path = udacity/react-nano/Project1/MyReads-A-Book-Tracking-App
	url = https://github.com/garcrich/MyReads-A-Book-Tracking-App.git
[submodule "udacity/react-nano/Project2/react-readable"]
	path = udacity/react-nano/Project2/react-readable
	url = https://github.com/omaralbeik/react-readable.git
[submodule "isomorphic-react-redux/react-boilerplate"]
	path = isomorphic-react-redux/react-boilerplate
	url = https://github.com/react-boilerplate/react-boilerplate.git
[submodule "jsA/css-modal"]
	path = jsA/css-modal
	url = https://github.com/drublic/css-modal
[submodule "react/material-ui"]
	path = react/material-ui
	url = https://github.com/callemall/material-ui
[submodule "react-native/f8app"]
	path = react-native/f8app
	url = https://github.com/fbsamples/f8app.git
[submodule "combination/reactotron"]
	path = combination/reactotron
	url = https://github.com/infinitered/reactotron.git
[submodule "react-native/redux-offline"]
	path = react-native/redux-offline
	url = https://github.com/jevakallio/redux-offline
[submodule "firebase/react-native-firestack"]
	path = firebase/react-native-firestack
	url = https://github.com/fullstackreact/react-native-firestack.git
[submodule "firebase/react-native-firebase"]
	path = firebase/react-native-firebase
	url = https://github.com/invertase/react-native-firebase.git
[submodule "jsA/browser-sync"]
	path = jsA/browser-sync
	url = https://github.com/BrowserSync/browser-sync.git
[submodule "jsA/h5bp/html5-boilerplate"]
	path = jsA/h5bp/html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate.git
[submodule "jsA/gulp"]
	path = jsA/gulp
	url = https://github.com/gulpjs/gulp.git
[submodule "udacity/frontend-nano/neighborhood-map"]
	path = udacity/frontend-nano/neighborhood-map
	url = https://github.com/6stringbeliever/neighborhood-map.git
[submodule "react-native/styled-components-native-code-mod"]
	path = react-native/styled-components-native-code-mod
	url = https://github.com/styled-components/styled-components-native-code-mod.git
[submodule "udacity/frontend-nano/Project5-NeighborhoodMap"]
	path = udacity/frontend-nano/Project5-NeighborhoodMap
	url = https://github.com/sheryllun/Project5-NeighborhoodMap.git
[submodule "visual/materialize"]
	path = visual/materialize
	url = https://github.com/Dogfalo/materialize.git
[submodule "visual/material-design-lite"]
	path = visual/material-design-lite
	url = https://github.com/google/material-design-lite.git
[submodule "firebase/functions-samples"]
	path = firebase/functions-samples
	url = https://github.com/firebase/functions-samples.git
[submodule "jsDB/fetch-examples"]
	path = jsDB/fetch-examples
	url = https://github.com/mdn/fetch-examples.git
[submodule "jsDB/normalizr"]
	path = jsDB/normalizr
	url = https://github.com/paularmstrong/normalizr.git
[submodule "isomorphic-react-redux/sound-redux"]
	path = isomorphic-react-redux/sound-redux
	url = https://github.com/andrewngu/sound-redux.git
[submodule "react/styled-components"]
	path = react/styled-components
	url = https://github.com/styled-components/styled-components.git
[submodule "visual/material-components-web"]
	path = visual/material-components-web
	url = https://github.com/material-components/material-components-web.git
[submodule "react/rmwc"]
	path = react/rmwc
	url = https://github.com/jamesmfriedman/rmwc.git
[submodule "isomorphic-react-redux/react-redux-styled-hot-universal"]
	path = isomorphic-react-redux/react-redux-styled-hot-universal
	url = https://github.com/krasevych/react-redux-styled-hot-universal.git
[submodule "isomorphic-react-redux/reactMonkey"]
	path = isomorphic-react-redux/reactMonkey
	url = https://github.com/ziaochina/reactMonkey.git
[submodule "isomorphic-react-redux/react-simple-pwa"]
	path = isomorphic-react-redux/react-simple-pwa
	url = https://github.com/BosNaufal/react-simple-pwa.git
[submodule "FULLSTACK/example-node-server"]
	path = FULLSTACK/example-node-server
	url = https://github.com/babel/example-node-server.git
[submodule "react/razzle-material-ui-styled-example"]
	path = react/razzle-material-ui-styled-example
	url = https://github.com/kireerik/razzle-material-ui-styled-example.git
[submodule "FULLSTACK/scalable-react-boilerplate"]
	path = FULLSTACK/scalable-react-boilerplate
	url = https://github.com/scalable-react/scalable-react-boilerplate.git
[submodule "react/react-playbook"]
	path = react/react-playbook
	url = https://github.com/kylpo/react-playbook.git
[submodule "react/neos-ui"]
	path = react/neos-ui
	url = https://github.com/neos/neos-ui.git
[submodule "react/react-document-title-decorator"]
	path = react/react-document-title-decorator
	url = https://github.com/gigobyte/react-document-title-decorator.git
[submodule "react/react-document-title"]
	path = react/react-document-title
	url = https://github.com/gaearon/react-document-title.git
[submodule "react/react-cool-starter"]
	path = react/react-cool-starter
	url = https://github.com/wellyshen/react-cool-starter.git
[submodule "isomorphic-react-redux/react-pxq"]
	path = isomorphic-react-redux/react-pxq
	url = https://github.com/bailicangdu/react-pxq.git
[submodule "isomorphic-react-redux/apple-basket-redux"]
	path = isomorphic-react-redux/apple-basket-redux
	url = https://github.com/ckinmind/apple-basket-redux.git
[submodule "isomorphic-react-redux/react_home"]
	path = isomorphic-react-redux/react_home
	url = https://github.com/aiyuekuang/react_home.git
[submodule "isomorphic-react-redux/React-Redux-Server-Rendering"]
	path = isomorphic-react-redux/React-Redux-Server-Rendering
	url = https://github.com/cllgeek/React-Redux-Server-Rendering.git
[submodule "react/redbox-react"]
	path = react/redbox-react
	url = https://github.com/commissure/redbox-react.git
[submodule "react-native/react-native-full-example"]
	path = react-native/react-native-full-example
	url = https://github.com/liumingmusic/react-native-full-example.git
[submodule "react-native/GD"]
	path = react-native/GD
	url = https://github.com/shaojianye/GD.git
[submodule "FULLSTACK/ServerSideApplication-Development-And-System-Architecture"]
	path = FULLSTACK/ServerSideApplication-Development-And-System-Architecture
	url = https://github.com/wxyyxc1992/ServerSideApplication-Development-And-System-Architecture.git
[submodule "FULLSTACK/Web-Development-And-Engineering-Practices"]
	path = FULLSTACK/Web-Development-And-Engineering-Practices
	url = https://github.com/wxyyxc1992/Web-Development-And-Engineering-Practices.git
[submodule "FULLSTACK/SoftwareEngineering-Essentials"]
	path = FULLSTACK/SoftwareEngineering-Essentials
	url = https://github.com/wxyyxc1992/SoftwareEngineering-Essentials.git
[submodule "react/recompose"]
	path = react/recompose
	url = https://github.com/acdlite/recompose.git
[submodule "react/egghead-recompose"]
	path = react/egghead-recompose
	url = https://github.com/timkindberg/egghead-recompose.git
[submodule "isomorphic-react-redux/favesound-redux"]
	path = isomorphic-react-redux/favesound-redux
	url = https://github.com/rwieruch/favesound-redux.git
[submodule "isomorphic-react-redux/react-redux-soundcloud"]
	path = isomorphic-react-redux/react-redux-soundcloud
	url = https://github.com/rwieruch/react-redux-soundcloud.git
[submodule "jsDB/immutable-js"]
	path = jsDB/immutable-js
	url = https://github.com/facebook/immutable-js.git
[submodule "react/reselect"]
	path = react/reselect
	url = https://github.com/reactjs/reselect.git
[submodule "udacity/react-nano/Project2/reactnd-project-readable"]
	path = udacity/react-nano/Project2/reactnd-project-readable
	url = https://github.com/sujinleeme/reactnd-project-readable.git
[submodule "firebase/friendlychat-web"]
	path = firebase/friendlychat-web
	url = https://github.com/firebase/friendlychat-web.git
[submodule "firebase/react-hn"]
	path = firebase/react-hn
	url = https://github.com/insin/react-hn.git
[submodule "firebase/re-base"]
	path = firebase/re-base
	url = https://github.com/tylermcginnis/re-base.git
[submodule "FULLSTACK/express-react-hmr-boilerplate"]
	path = FULLSTACK/express-react-hmr-boilerplate
	url = https://github.com/gocreating/express-react-hmr-boilerplate.git
[submodule "firebase/react-native-starter-app"]
	path = firebase/react-native-starter-app
	url = https://github.com/mcnamee/react-native-starter-app.git
[submodule "firebase/firebase-react-native-sample"]
	path = firebase/firebase-react-native-sample
	url = https://github.com/davideast/firebase-react-native-sample.git
[submodule "react-native/react-native-router-flux"]
	path = react-native/react-native-router-flux
	url = https://github.com/aksonov/react-native-router-flux.git
[submodule "FULLSTACK/node-booklet-code"]
	path = FULLSTACK/node-booklet-code
	url = https://github.com/scotch-io/node-booklet-code.git
[submodule "isomorphic-react-redux/redux-async-demo"]
	path = isomorphic-react-redux/redux-async-demo
	url = https://github.com/RukiQ/redux-async-demo.git
[submodule "isomorphic-react-redux/react-boilerplate-ssr"]
	path = isomorphic-react-redux/react-boilerplate-ssr
	url = https://github.com/AlanWei/react-boilerplate-ssr.git
[submodule "isomorphic-react-redux/steamer-react"]
	path = isomorphic-react-redux/steamer-react
	url = https://github.com/steamerjs/steamer-react
[submodule "firebase/reactfire"]
	path = firebase/reactfire
	url = https://github.com/firebase/reactfire.git
[submodule "combination/message-board"]
	path = combination/message-board
	url = https://github.com/defshine/message-board.git
[submodule "isomorphic-react-redux/react-curd"]
	path = isomorphic-react-redux/react-curd
	url = https://github.com/awaw00/react-curd.git
[submodule "FULLSTACK/pro-mern-stack"]
	path = FULLSTACK/pro-mern-stack
	url = https://github.com/vasansr/pro-mern-stack.git
[submodule "FULLSTACK/restful-api-express-mongoose"]
	path = FULLSTACK/restful-api-express-mongoose
	url = https://github.com/fedosejev/restful-api-express-mongoose.git
[submodule "FULLSTACK/express-api-token-authentication"]
	path = FULLSTACK/express-api-token-authentication
	url = https://github.com/fedosejev/express-api-token-authentication.git
[submodule "FULLSTACK/user-authentication-with-react"]
	path = FULLSTACK/user-authentication-with-react
	url = https://github.com/fedosejev/user-authentication-with-react.git
[submodule "ABOUTTEACHLEARN/art-of-node"]
	path = ABOUTTEACHLEARN/art-of-node
	url = https://github.com/maxogden/art-of-node.git
[submodule "visual/react-canvas"]
	path = visual/react-canvas
	url = https://github.com/Flipboard/react-canvas.git
[submodule "visual/react-trello-board"]
	path = visual/react-trello-board
	url = https://github.com/web-pal/react-trello-board.git
[submodule "visual/react-art"]
	path = visual/react-art
	url = https://github.com/reactjs/react-art.git
[submodule "visual/react-layer-stack"]
	path = visual/react-layer-stack
	url = https://github.com/fckt/react-layer-stack.git
[submodule "visual/react-dnd"]
	path = visual/react-dnd
	url = https://github.com/react-dnd/react-dnd.git
[submodule "FULLSTACK/server-configs-nginx"]
	path = FULLSTACK/server-configs-nginx
	url = https://github.com/h5bp/server-configs-nginx.git
[submodule "leetcode/leetcode"]
	path = leetcode/leetcode
	url = https://github.com/haoel/leetcode.git
[submodule "visual/react-motion"]
	path = visual/react-motion
	url = https://github.com/chenglou/react-motion.git
[submodule "visual/animate"]
	path = visual/animate
	url = https://github.com/react-component/animate.git
[submodule "visual/velocity-react"]
	path = visual/velocity-react
	url = https://github.com/google-fabric/velocity-react.git
[submodule "isomorphic-react-redux/react-dashboard"]
	path = isomorphic-react-redux/react-dashboard
	url = https://github.com/flatlogic/react-dashboard.git
[submodule "FULLSTACK/node-http-proxy"]
	path = FULLSTACK/node-http-proxy
	url = https://github.com/nodejitsu/node-http-proxy.git
[submodule "FULLSTACK/express-for-APIs"]
	path = FULLSTACK/express-for-APIs
	url = https://github.com/jedwood/express-for-APIs.git
[submodule "FULLSTACK/express-mongoose"]
	path = FULLSTACK/express-mongoose
	url = https://github.com/LearnBoost/express-mongoose.git
[submodule "FULLSTACK/express-resource"]
	path = FULLSTACK/express-resource
	url = https://github.com/expressjs/express-resource
[submodule "isomorphic-react-redux/react-redux-antd"]
	path = isomorphic-react-redux/react-redux-antd
	url = https://github.com/Justin-lu/react-redux-antd.git
[submodule "FULLSTACK/rest-api"]
	path = FULLSTACK/rest-api
	url = https://github.com/arccode/rest-api.git
[submodule "FULLSTACK/Gracejs"]
	path = FULLSTACK/Gracejs
	url = https://github.com/xiongwilee/Gracejs.git
[submodule "visual/sass-boilerplate"]
	path = visual/sass-boilerplate
	url = https://github.com/HugoGiraudel/sass-boilerplate.git
[submodule "visual/react-simple-datepicker"]
	path = visual/react-simple-datepicker
	url = https://github.com/davidkpiano/react-simple-datepicker.git
[submodule "FULLSTACK/Node-Simple-Cache"]
	path = FULLSTACK/Node-Simple-Cache
	url = https://github.com/hh54188/Node-Simple-Cache.git
[submodule "visual/koa-antd-admin"]
	path = visual/koa-antd-admin
	url = https://github.com/yukrain/koa-antd-admin.git
[submodule "FULLSTACK/koa-demos"]
	path = FULLSTACK/koa-demos
	url = https://github.com/ruanyf/koa-demos.git
[submodule "FULLSTACK/examples"]
	path = FULLSTACK/examples
	url = https://github.com/koajs/examples.git
[submodule "ABOUTTEACHLEARN/samples"]
	path = ABOUTTEACHLEARN/samples
	url = https://github.com/GoogleChrome/samples.git
[submodule "FULLSTACK/node-modules-demo"]
	path = FULLSTACK/node-modules-demo
	url = https://github.com/chenshenhai/node-modules-demo.git
[submodule "isomorphic-react-redux/30-days-of-react"]
	path = isomorphic-react-redux/30-days-of-react
	url = https://github.com/fullstackreact/30-days-of-react.git
[submodule "leetcode/Java/leetcode"]
	path = leetcode/Java/leetcode
	url = https://github.com/gouthampradhan/leetcode.git
[submodule "leetcode/Java/awesome-java-leetcode"]
	path = leetcode/Java/awesome-java-leetcode
	url = https://github.com/Blankj/awesome-java-leetcode.git
[submodule "leetcode/Java/java/leetcode"]
	path = leetcode/Java/java/leetcode
	url = https://github.com/mengli/leetcode.git
[submodule "leetcode/Python/algorithm-exercise"]
	path = leetcode/Python/algorithm-exercise
	url = https://github.com/billryan/algorithm-exercise.git
[submodule "leetcode/Java/LintCode"]
	path = leetcode/Java/LintCode
	url = https://github.com/awangdev/LintCode.git
[submodule "leetcode/javascript/leetcode"]
	path = leetcode/javascript/leetcode
	url = https://github.com/hanzichi/leetcode.git
[submodule "udacity/WeChat/cn-wechat-weather"]
	path = udacity/WeChat/cn-wechat-weather
	url = https://github.com/udacity/cn-wechat-weather.git
[submodule "algorithm-datastructure/grokking_algorithms"]
	path = algorithm-datastructure/grokking_algorithms
	url = https://github.com/egonSchiele/grokking_algorithms.git
[submodule "algorithm-datastructure/algs4"]
	path = algorithm-datastructure/algs4
	url = https://github.com/kevin-wayne/algs4
[submodule "algorithm-datastructure/algorithm-essentials"]
	path = algorithm-datastructure/algorithm-essentials
	url = https://github.com/soulmachine/algorithm-essentials
[submodule "algorithm-datastructure/javascript-algorithms"]
	path = algorithm-datastructure/javascript-algorithms
	url = https://github.com/trekhleb/javascript-algorithms
[submodule "algorithm-datastructure/lago"]
	path = algorithm-datastructure/lago
	url = https://github.com/yangshun/lago
[submodule "algorithm-datastructure/javascript-datastructures-algorithms"]
	path = algorithm-datastructure/javascript-datastructures-algorithms
	url = https://github.com/loiane/javascript-datastructures-algorithms
[submodule "FULLSTACK/mern"]
	path = FULLSTACK/mern
	url = https://github.com/tech-dojo/mern.git
[submodule "FULLSTACK/Mastering-Full-Stack-React-Web-Development"]
	path = FULLSTACK/Mastering-Full-Stack-React-Web-Development
	url = https://github.com/PacktPublishing/Mastering-Full-Stack-React-Web-Development.git
[submodule "isomorphic-react-redux/next.js"]
	path = isomorphic-react-redux/next.js
	url = https://github.com/zeit/next.js.git
[submodule "visual/ant-design"]
	path = visual/ant-design
	url = https://github.com/ant-design/ant-design.git
