* {
  box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: inherit;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.svgbg {
  overflow: hidden;
  background-color: #0246F4;
  border-radius: 50%;
  /* IE fix (Sara Soueidan: https://tympanus.net/Tutorials/ResponsiveSVGs/index4.html) */
  height: 0;
  padding-top: 75%;
  position: relative;
}

svg {
  /* IE fix (Sara Soueidan: https://tympanus.net/Tutorials/ResponsiveSVGs/index4.html) */
  position: absolute;
  top: 0;
  left: 0;
}

.flex-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.btn {
  position: relative;
  padding: 1em;
  margin: 2em auto;
  outline: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1px;
  color: #fff;
  background-color: #a465f2;
  border-color: #842def;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color, 0.5s,
              background-color 0.5s;
}

.btn:focus,
.btn:hover {
  border-color: #2d055e;
  background-color: #5108aa;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:not-allowed;
}