/**
 * CSS for 16px font size.
**/
#example-one,
#example-two,
#example-three
{
    width:200px;
    padding:5px;
    margin:10px;
	font-size:18px;
    border:4px solid #00f;
    background:#ccf
}


/* Basic overlay CSS */
.select-overlay { background:#fff }
.ie-select-width-overlay span
{
    display:block;
    float:left;
    clear:both;
    background:transparent url(bg-ie-select-width-18px.png) no-repeat 0 0
}


/** Overlay CSS for Internet Explorer 6 and 7 */
.ie6 .ie-select-width-overlay span,
.ie7 .ie-select-width-overlay span
{
    width:17px;
    height:25px;
    background-position:0 -23px 
}
.ie6 .ie-select-width-overlay-hover span,
.ie7 .ie-select-width-overlay-hover span { background-position:-17px -23px }
.ie6 .ie-select-width-overlay-mouseover span,
.ie7 .ie-select-width-overlay-mouseover span { background-position:-18px -23px }


/* Overlay CSS for Internet Explorer 8 */
.ie8 .ie-select-width-overlay span
{
    width:17px;
    height:23px;
    background-position:0 0
}
.ie8 .ie-select-width-overlay-hover span { background-position:-17px 0 }
.ie8 .ie-select-width-overlay-mouseover span { background-position:-18px 0 }