
<h1><%= title %></h1>
<h3><span style="display: inline-block; float: right;">登录用户：<%=userInfo.username %>  <a id="btnLogOut" href="javascript:void(0);" style='color:#ff640a; font-size:15px; margin-left:20px;'>安全退出</a><span></h3>


<div class="top-wrap">
	<a href='/admin'>管理首页</a>
	<a href='/admin/news'>新闻管理</a>	
</div>
