@charset "utf-8";

dd { margin-bottom:10px }

dl,
h4,
pre { clear:both }

fieldset
{
    display:block;
    padding:15px;
    margin:20px auto;
    border:2px solid #999
}

legend { font-weight:700 }

fieldset dd
{
    padding:0;
    border:1px solid #000;
    float:left;
    clear:both
}

#three dd { width:600px }