<html>
<head>
<title>Node.js + Koa2 构建网站简单示例</title>
<link rel="styleSheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="page">
    <% include components/top.inc.ejs %>
    <div class="content-wrap">
        <div class="welcome">
        	<p>很高兴见到你，祝开心！！！</p>
			<img src='/images/1.jpg'>
        </div>
    </div>
</div>   
</body>
</html>

<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/javascripts/logout.js" type="text/javascript"></script>


</script>

